1. Load data (Movie classification)

In [22]:
#Load data (Movie_classification)

import pandas as pd

# Load data
file_path = 'Movie_classification.csv'   
df = pd.read_csv(file_path)

# Menampilkan beberapa baris pertama dari data
print(df.head())

   Marketing expense  Production expense  Multiplex coverage     Budget  \
0            20.1264               59.62               0.462  36524.125
1            20.5462               69.14               0.531  35668.655
2            20.5458               69.14               0.531  39912.675
3            20.6474               59.36               0.542  38873.890
4            21.3810               59.36               0.542  39701.585

   Movie_length  Lead_ Actor_Rating  Lead_Actress_rating  Director_rating  \
0         138.7               7.825                8.095            7.910
1         152.4               7.505                7.650            7.440
2         134.6               7.485                7.570            7.495
3         119.3               6.895                7.035            6.920
4         127.7               6.920                7.070            6.815

   Producer_rating  Critic_rating  Trailer_views 3D_available  Time_taken  \
0            7.995           7.94         527367          YES      109.60
1            7.470           7.44         494055           NO      146.64
2            7.515           7.44         547051           NO      147.88
3            7.020           8.26         516279          YES      185.36
4            7.070           8.26         531448           NO      176.48

   Twitter_hastags     Genre  Avg_age_actors  Num_multiplex  Collection  \
0          223.840  Thriller              23            494       48000
1          243.456     Drama              42            462       43200
2         2022.400    Comedy              38            458       69400
3          225.344     Drama              45            472       66800
4          225.792     Drama              55            395       72400

   Start_Tech_Oscar
0                 1
1                 0
2                 1
3                 1
4                 1

2. Cek nilai duplikat

In [23]:
# Cek nilai duplikat
duplicate_values = df.duplicated().sum()

# Menampilkan jumlah nilai duplikat
print(f'Jumlah nilai duplikat: {duplicate_values}')

Jumlah nilai duplikat: 0

In [13]:
df.duplicated().sum() #Melihat apakah ada data yg double

np.int64(0)

3. Menemukan null values buat presentase

In [14]:
(df.isna().sum()/len(df))*100 #Melihat presentase missing values

Marketing expense      0.0
Production expense     0.0
Multiplex coverage     0.0
Budget                 0.0
Movie_length           0.0
Lead_ Actor_Rating     0.0
Lead_Actress_rating    0.0
Director_rating        0.0
Producer_rating        0.0
Critic_rating          0.0
Trailer_views          0.0
3D_available           0.0
Time_taken             0.0
Twitter_hastags        0.0
Genre                  0.0
Avg_age_actors         0.0
Num_multiplex          0.0
Collection             0.0
Start_Tech_Oscar       0.0
dtype: float64

In [18]:
# Menghitung jumlah nilai kosong per kolom
missing_values = df.isnull().sum()

# Menghitung persentase nilai kosong per kolom
missing_percentage = (missing_values / len(df)) * 100

# Menampilkan persentase nilai null
print("Persentase nilai null per kolom:\n", missing_percentage)

Persentase nilai null per kolom:
 Marketing expense      0.0
Production expense     0.0
Multiplex coverage     0.0
Budget                 0.0
Movie_length           0.0
Lead_ Actor_Rating     0.0
Lead_Actress_rating    0.0
Director_rating        0.0
Producer_rating        0.0
Critic_rating          0.0
Trailer_views          0.0
3D_available           0.0
Time_taken             0.0
Twitter_hastags        0.0
Genre                  0.0
Avg_age_actors         0.0
Num_multiplex          0.0
Collection             0.0
Start_Tech_Oscar       0.0
dtype: float64

In [24]:
# Menemukan nilai null dan menghitung persentase
null_values_percentage = (df.isnull().sum() / len(df)) * 100

# Menampilkan persentase nilai null per kolom
print('Persentase nilai null per kolom:')
print(null_values_percentage)

Persentase nilai null per kolom:
Marketing expense      0.000000
Production expense     0.000000
Multiplex coverage     0.000000
Budget                 0.000000
Movie_length           0.000000
Lead_ Actor_Rating     0.000000
Lead_Actress_rating    0.000000
Director_rating        0.000000
Producer_rating        0.000000
Critic_rating          0.000000
Trailer_views          0.000000
3D_available           0.000000
Time_taken             2.371542
Twitter_hastags        0.000000
Genre                  0.000000
Avg_age_actors         0.000000
Num_multiplex          0.000000
Collection             0.000000
Start_Tech_Oscar       0.000000
dtype: float64

4. Drop missing value berdasarkan baris, kolom, imputasi dengan mean, modus, median

In [25]:
# Drop missing values berdasarkan baris
df_drop_rows = df.dropna()
print(f'Jumlah data setelah menghapus baris yang memiliki nilai null: {len(df_drop_rows)}')

# Drop missing values berdasarkan kolom
df_drop_cols = df.dropna(axis=1)
print(f'Jumlah kolom setelah menghapus kolom yang memiliki nilai null: {df_drop_cols.shape[1]}')

# Imputasi dengan mean (hanya untuk kolom numerik)
df_impute_mean = df.fillna(df.mean(numeric_only=True))
print('Imputasi menggunakan mean berhasil dilakukan.')

# Imputasi dengan modus
df_impute_mode = df.fillna(df.mode().iloc[0])
print('Imputasi menggunakan modus berhasil dilakukan.')

# Imputasi dengan median (hanya untuk kolom numerik)
df_impute_median = df.fillna(df.median(numeric_only=True))
print('Imputasi menggunakan median berhasil dilakukan.')

# Menyimpan hasil ke file CSV
df_drop_rows.to_csv('Movie_classification_drop_rows.csv', index=False)
df_drop_cols.to_csv('Movie_classification_drop_cols.csv', index=False)
df_impute_mean.to_csv('Movie_classification_impute_mean.csv', index=False)
df_impute_mode.to_csv('Movie_classification_impute_mode.csv', index=False)
df_impute_median.to_csv('Movie_classification_impute_median.csv', index=False)

print('Semua hasil telah disimpan ke file CSV.')

Jumlah data setelah menghapus baris yang memiliki nilai null: 494
Jumlah kolom setelah menghapus kolom yang memiliki nilai null: 18
Imputasi menggunakan mean berhasil dilakukan.
Imputasi menggunakan modus berhasil dilakukan.
Imputasi menggunakan median berhasil dilakukan.
Semua hasil telah disimpan ke file CSV.

5. Export data ke csv dan excel
menggunakan vscode

In [27]:
# Ekspor DataFrame ke file CSV
df.to_csv('Movie_classification_exported.csv', index=False)

# Ekspor DataFrame ke file Excel
df.to_excel('Movie_classification_exported.xlsx', index=False)

print('Data telah diekspor ke format CSV dan Excel.')

Data telah diekspor ke format CSV dan Excel.